<h1>Gym This Week</h1>

<% if current_user %>

<h2>You have worked out
  <% if @user_checkins.length == 1 %>
  <%= @user_checkins.length %> time
  <% else %>
  <%= @user_checkins.length %> times
  <% end %>this week:</h2>
<ul>
  <% @user_checkins.each do |checkin| %>
  <li>
    <%= checkin[:venue_name] %>, <%= Time.at(checkin[:time]).to_s %>
  </li>
  <% end %>
</ul>

<h2>Custom Hashtag Tracking</h2>

<h3>Hashtags tracked:</h3>

<% @user.hashtags.each do |hashtag| %>
  <%= hashtag[:hashtag] %> (<%= link_to "delete", hashtag, :method => :delete, :class => :destroy %>)<br>
<% end %>

<h3>Add new hashtag:</h3>
  <%= form_for @hashtag do |f| %>
    <%= f.label :hashtag %>
    <%= f.text_field :hashtag %>
    <%= f.submit %>
  <% end %>

<% end %>
