<% if current_user %>

  <p>Hi <%= current_user.first_name %>,<br> You have worked out</p>
  <h1 class="green"><%= @user_checkins_count %></h1>
  <p>in the past 7 days.</p>
  <div class="week">
  <% 0.upto(6) do |d| %>
    <% date = Time.now - 518400 + d * 86400 %>
      <div class="weekday">
          <div class="weekday_date"><%= date.strftime("%^b %e") %></div>
          <div class="weekday_name">
          <% if Time.now.day == Time.at(date).day %>
            TODAY
          <% else %>
            <%= date.strftime("%^a") %>
          <% end %>
          </div>
        <% @user_checkins.each do |checkin| %>
          <% if Time.at(checkin[:time]).day == Time.at(date).day %>
            <div class="checkin"><%= checkin[:venue_name] %> @ <%= Time.at(checkin[:time]).strftime("%l:%M %P") %></div>
          <% end %>
        <% end %>
      </div>
  <% end %>
  </div>

  <div class="clear"></div>

  <div class="hashtag-tracking">
    <h4>* * *</h4>
    <h4>TRACK CUSTOM HASHTAGS</h4>
    <p>Count checkins that mention the following hashtag(s):</p>

    <% @user.hashtags.each do |hashtag| %>
      <% if hashtag[:id] %>
      #<%= hashtag[:hashtag] %> <%= link_to hashtag, :method => :delete, :class => :destroy, :title => "Delete hashtag" do %><span class="glyphicon glyphicon-remove"></span><% end %><br>
      <% end %>
    <% end %>

    <div class="hashtag-form">
      <%= form_for @hashtag do |f| %>
        #<%= f.text_field :hashtag %>
        <%= f.submit "Add" %>
      <% end %>
    </div>
  </div>

  <p>
    Not <%= current_user.first_name %>?
      <%= link_to "Sign out", signout_path %>
  </p>

<% else %>
    <h1> Gym This Week</h1>

    <p><strong>How many times have you worked out in the past 7 days?</strong></p>
    <%= image_tag "Amy-Working-Out.jpg", :width => 350 %>

    <p>Find out, and start tracking custom hashtags.</p>

    <a href="/auth/foursquare"><button type="button" class="btn btn-primary btn-lg">Connect with Foursquare</button></a>
<% end %>

<div class="footer">
  General Assembly Back-End Web Development final project by Amy Ly
</div>

