<!DOCTYPE html>
<html>
<head>
  <title>Gym This Week</title>
  <meta name="description" content="How many times have you been to the gym this week? Connect with Foursquare to find out." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<!-- Open Graph Data -->
  <meta property="og:title" content="Gym This Week" />
  <meta property="og:url" content="http://www.gymthisweek.com/" />
  <meta property="og:image" content="http://www.gymthisweek.com/images/Amy-Working-Out-fb.jpg" />
  <meta property="og:description" content="How many times have you been to the gym this week? Connect with Foursquare to find out & track custom hashtags." />
  <meta property="og:site_name" content="Gym This Week" />

</head>
<body>
  <%= render partial: "shared/flash_messages", flash: flash %>
  <div class="container">

    <%= yield %>

  </div>
</body>
</html>
