<!DOCTYPE html>
<html>
<head>
  <title>Gym This Week</title>
  <meta name="description" content="How many times have you been to the gym this week? Connect with Foursquare to find out + track custom hashtags." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<!-- Open Graph Data -->
  <meta property="og:title" content="Gym This Week" />
  <meta property="og:url" content="http://www.gymthisweek.com/" />
  <meta property="og:image" content="http://www.gymthisweek.com/images/Amy-Working-Out-fb.jpg" />
  <meta property="og:description" content="How many times have you been to the gym this week? Connect with Foursquare to find out + track custom hashtags." />
  <meta property="og:site_name" content="Gym This Week" />

<!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17162542-6', 'gymthisweek.com');
    ga('send', 'pageview');

  </script>

</head>
<body>
  <%= render partial: "shared/flash_messages", flash: flash %>
  <div class="container">

    <%= yield %>

  </div>
</body>
</html>
